    
<div class="card border-secondary" (click)="sendClickStudent()">
  <img class="card-img-top" src="../../assets/images/rshriv1.jpg" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title">Rishi Shrivastava</h5>
      <p class="card-text">A passion for technology and a desire to excel urges me to seek a challenging position with opportunities in programming or web design.</p>
      <a href="#" class="card-link">Favorite Development Website</a>
      <p class="card-text"><small class="text-muted">Updated September 21, 2018 10:00 PM</small></p>
  </div>
</div>
