<app-nav></app-nav>

    <div class="container"><br>

        <!-- <selected-student></selected-student> -->
        <selected-student [selected]="clickedStudent"></selected-student>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <card-keschae (cardClick)="receiveClickedStudent($event)"></card-keschae>
                <!-- wrong  <card-keschae (click)="setClickedStudent()"></card-keschae> -->
            </div>
            <div class="col-md-4">
                <!-- <card-vbatti1 (cardClick)="receiveClickedStudent($event)"></card-vbatti1> -->
            </div>
            <div class="col-md-4">
                <!-- <card-akbhide (cardClick)="receiveClickedStudent($event)"></card-akbhide> -->
            </div> <!-- column -->
        </div> <!-- row 1 of cards -->

        <div class="row">
            <div class="col-md-4">
                <!-- <card-bnbispi (cardClick)="receiveClickedStudent($event)"></card-bnbispi> -->
            </div>
            <div class="col-md-4">
                <!-- <card-khemnan (cardClick)="receiveClickedStudent($event)"></card-khemnan> --> 
            </div>
            <div class="col-md-4">
                <!-- <card-ajain26 (cardClick)="receiveClickedStudent($event)"></card-ajain26> -->
            </div> <!-- column -->
        </div> <!-- row 2 of cards -->

        <div class="row">
            <div class="col-md-3">
                <!-- <card-smarjiw (cardClick)="receiveClickedStudent($event)"></card-smarjiw> -->
            </div>
            <div class="col-md-3">
                <!-- <card-bschwer (cardClick)="receiveClickedStudent($event)"></card-bschwer> -->
            </div>
            <div class="col-md-3">
                <!-- <card-rshriv1 (cardClick)="receiveClickedStudent($event)"></card-rshriv1> -->
            </div> <!-- column -->
            <div class="col-md-3">
                <!-- <card-atapadi (cardClick)="receiveClickedStudent($event)"></card-atapadi> -->
            </div> <!-- column -->
        </div> <!-- row 3 of cards -->

        <br>
    </div> <!-- container   -->

<app-footer></app-footer>    
