
<div class="card border-secondary" (click)="sendClickedStudent()">
  <img class="card-img-top" src="../../assets/images/atapadi.jpg" alt="image not found">
  <div class="card-body">
    <h5 class="card-title">Akanksha Tapadia</h5>
    <p class="card-text">I'm a passionate IT graduate student with an emphasis in web application development.</p>
    <a href="#" class="card-link">Favorite Development Website</a>
    <p class="card-text"><small class="text-muted">Updated September 20, 2018 16:15 PM</small></p>
  </div>
</div>
