<div class="card border-secondary" (click)="displayStudent()">
  <img class="card-img-top" src="../../assets/images/bnbispi.jpg" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title">Braden Bisping</h5>
      <p class="card-text">I am a senior ISU Computer Science major with a strong interest in web application development.</p>
      <a href="https://www.codecademy.com/" class="card-link">My Favorite Development Website</a>
      <p class="card-text"><small class="text-muted">Updated September 20, 2018 4:19 PM</small></p>
  </div>
</div>