<!--
<div class="card border-secondary">
    <img class="card-img-top" src="http://placehold.it/360x270" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Joe Student</h5>
        <p class="card-text">I'm a passionate IT graduate student with an emphasis in web application development.</p>
        <a href="#" class="card-link">Favorite Development Website</a>
        <p class="card-text"><small class="text-muted">Updated September 12, 2018 12:15 PM</small></p>
    </div>
</div>
-->