    
<div class="card border-secondary" (click)="clickCard()">
  <img class="card-img-top" src="{{ '../../assets/images/' + getAkbhide().ulid + '.jpg' }}" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title">{{getAkbhide().name}}</h5>
      <p class="card-text">{{getAkbhide().desc_long}}</p>
      <a href="#" class="card-link">{{getAkbhide().website}}</a>
      <p class="card-text"><small class="text-muted">{{"I like " + getAkbhide().hobbies}}</small></p>
  </div>
</div>
